
/* header */
@media (max-width: 1750px) {
    #header .header-ct-left > .logo {
        width: 200px;
    }
    #header .header-ct-left > .logo {
        margin-left: 10px;
    }   
    .header .header-customize {
        margin-right: 10px;
    }
}

@media (max-width: 1480px) {
    #mainnav > ul > li {
        margin: 0 10px;
    } 
}

@media (max-width: 1320px) {
    .header.header-default .header-ct-right,
    .header.header-style-03 .header-ct-right {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    .header.header-style-02 {
        display: none;
    }
}

/* footer */
@media (max-width:992px) {    
    .footer-bottom .container .row > div > div,
    .footer-bottom form {
        justify-content: center;
        margin: 20px auto;
    }
    .footer-bottom .text {
        width: auto;
    }
    .footer-content .container .row > div {
        padding: 0 !important;
    }
    .widget-gallery ul.widget-gallery-list {
        justify-content: space-between;
    }
}

@media (max-width:1200px) {
    .footer-content .container {
        width: unset;
    }
}

@media (min-width:992px) {    
    .footer-content .container .row > div {
        padding: 0;
    }
    .footer-content .Instagram-Posts li.gallery-item {
        margin-bottom: 10px !important;
    }
}